<h2 class="parks-header">Available Parks</h2>
<div class="row park-container">
  <% @parks.each do |park| %>
  <div class="col-sm-4 center park">
    <%= image_tag("tent-152.png") %>
    <h4><%= link_to  "#{park.name}", park_path(id: park.park_id) %></h4>
  </div>
  <% end %>
</div>
