body {
  background: $white;
  a, a:hover {
    text-decoration: none;
  }

  h4 {
    color: $black;
  }

  h5.list-group-item {
    background: $blue;
    color: $white;
  }

  h2.parks-header {
    color: $orange;
  }

  a.park-link {
    color: $blue;
    &:hover {
      color: $gray;
    }
  }

  li.list-group-item {
    color: $black;
  }

  .park-show {
    color: $orange;
  }

  .logout {
    text-align:right;
    padding-top: 45px;
  }

  .state {
    background: $green;
    color: $white;
    margin: 3px;
    &:hover {
      background: $white;
      border-color: $green;
      color: $green;
      text-decoration: none;
    }
  }

  .center {
    text-align: center;
  }

  footer {
    background: $blue;
    width: 100%;
    margin-top: 10px;

    .container {
      padding: 5px;
      text-align: center;

      .nps {
        color: $white;
      }
    }
  }
  .control-label {
    color: $black;
  }

  .controls {
    text-align: center;
  }

  .input-date {
    color: $orange;
    width: 100%;
  }

  button.btn-secondary {
    background: orange;
    margin-top: 10px;
  }

  .nav {
    background: $blue;
    color: $white;
    a {
      color: $white;
      text-decoration: none;
    }
    a:hover {
      color: $orange;
    }
  }
}
