body {
  background: $white;
  a, a:hover {
    text-decoration: none;
  }

  h5.list-group-item {
    background: $blue;
    color: $white;
  }

  li.list-group-item {
    color: $gray;
  }

  .park-show {
    color: $orange;
  }

  .logout {
    text-align:right;
    padding-top: 45px;
  }
  .state {
    background: $green;
    color: $white;
    margin: 3px;
    &:hover {
      background: $white;
      border-color: $green;
      color: $green;
    }
  }
  .parks-header {
    color: $blue;
  }
  .center {
    text-align: center;
  }

}
