body {
  background: $white;
  .logout {
    text-align:right;
    padding-top: 45px;
  }
  a, a:hover {
    text-decoration: none;
  }
  .state {
    background: $green;
    color: $white;
    margin: 3px;
    &:hover {
      background: $white;
      border-color: $green;
      color: $green;
    }
  }
}
