/* Coolors Exported Palette - coolors.co/909cc2-084887-f69f34-1d5f66-f7f5fb */

/* HSL */
$color1: hsla(226%, 29%, 66%, 1);
$color2: hsla(210%, 89%, 28%, 1);
$color3: hsla(33%, 92%, 58%, 1);
$color4: hsla(186%, 56%, 26%, 1);
$color5: hsla(260%, 43%, 97%, 1);

/* RGB */
$color1: rgba(144, 156, 194, 1);
$color2: rgba(8, 72, 135, 1);
$color3: rgba(246, 159, 52, 1);
$color4: rgba(29, 95, 102, 1);
$color5: rgba(247, 245, 251, 1);

/* HEX */
$color1: #909CC2;
$color2: #084887;
$color3: #F69F34;
$color4: #1D5F66;
$color5: #F7F5FB;
